body {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #efefef;
}

.bg-image {
  /* The image used */
  background-image: url("./Resources/bg_image.png");

  display: flex;
  height: 65px;
  width: 100%;
  /* Add the blur effect */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-box {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

h4 {
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar.opaque {
  background-color: #000000;
}

.link-nav a {
  text-decoration: none;
  color: white;
}

.link-nav a:hover {
  color: #ff9800;
}

.btn {
  background-color: #ff99006b;
  color: white;
}

.btn:hover {
  background-color: #ff9800;
  color: white;
}

section {
  display: flex;
  align-items: center;
  height: auto;
  width: 80vw;
}
.sub-table {
  background-color: #ff9800;
  height: 35px;
  border-radius: 5px;
  color: #000000;
  font-weight: 400;
}

.custom-table {
  border: solid 1px #ff9800;
  border-radius: 5px;
  background-color: #000000;
  text-align: center;
}

select {
  background-color: transparent;
  border: none;
}

th {
  border-bottom: solid 1px #ff9800;
}

th,
td {
  font-weight: 400;
  padding: 3px 8px;
}
