body {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #efefef;
}

.bg-image {
  /* The image used */
  background-image: url("./Resources/bg_image.png");

  display: flex;
  height: 250px;
  width: 100%;
  /* Add the blur effect */


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.but-container {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
}

.main-box {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

h4 {
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar.opaque {
  background-color: #000000;
}

#buttons {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  height: 260px;
  width: 100%;
  margin: 0;
  padding-left: 8%;
  z-index: 1;
}

.btn {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.btn:hover {
  background-color: rgba(220, 220, 220, 0.4);
  color: white;
}

section {
  display: flex;
  align-items: center;
  height: auto;
  width: 80vw;
}

.header-section {
    display: flex;
    height: 55px;
}

.carousel-item {
    max-height: fit-content;
}

.card {
    max-width: 90%;
    overflow: hidden;
    border: none;
}
